@import 'fonts';
@import 'colors';

%flex-row {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
  font-weight: 400;
  color: $white-color;
  list-style: none;
  text-decoration: none;
  border: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-page {
  background-color: black;
}

.header__content {
  @extend %flex-row;
  justify-content: space-between;
  padding: 60px 0px 58px 0px;
}

.logo {
  @extend %flex-row;
  align-items: flex-start;
  gap: 25px;
}

.logo__text {
  font-family: $font-forum;
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav__list {
  width: 775px;
  @extend %flex-row;
  justify-content: space-between;
}

.nav__link {
  font-size: 22px;
  letter-spacing: 2px;
  transition: 0.5s;

  &:hover {
    color: $gold-color;
  }
}

.welcome {
  padding-bottom: 60px;
}

.welcome__content {
  position: relative;
  height: 750px;
  background-image: url(../assets/img/1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;

  box-shadow: inset 600px 0px 200px $black-color;
}

.welcome__title {
  padding-top: 150px;
  padding-bottom: 25px;
  font-family: $font-forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome__description {
  padding-bottom: 75px;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
}

.welcome__button {
  width: 360px;
  height: 75px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: $red-color;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $gold-color;
  }
}

.welcome__pagination {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 600px;
  height: 120px;
  background-color: black;
}

.welcome__slide-num {
  padding-right: 55px;
  @extend %flex-row;
  gap: 10px;
}

.slide-num {
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
}

.welcome__pagination {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
}

.welcome__carousel {
  @extend %flex-row;
  gap: 25px;
  padding-right: 60px;
}

.carousel-item {
  width: 16px;
  height: 16px;
  background-color: $white-color;
}

.carousel-item-active {
  background-color: $gold-color;
}

.arrows {
  @extend %flex-row;
  gap: 20px;
}

.left-arrow {
  width: 30px;
  height: 8px;
  background-image: url(../assets/svg/left-arrow.svg);
  background-color: transparent;
  cursor: pointer;
}

.right-arrow {
  width: 30px;
  height: 8px;
  background-image: url(../assets/svg/right-arrow.svg);
  background-color: transparent;
  cursor: pointer;
}

.virtual-tour {
  padding: 75px 0;
}

.virtual-tour__title {
  padding-bottom: 25px;
  color: $gold-color;
  font-family: $font-forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  &::after {
    content: "";
    background-color: $red-color;
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    bottom: -27px;
  }
}

.virtual-tour__list {
  padding-top: 75px;
  @extend %flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 75px 0px;
}

.card__title {
  padding-top: 21px;
  padding-bottom: 22px;
  color: #000;
  font-family: $font-forum;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;

  &::after {
    content: "";
    background-color: $red-color;
    display: block;
    width: 300px;
    height: 2px;
    position: relative;
    bottom: -10px;
  }
}

.card__subtitle {
  padding-bottom: 10px;
  color: #000;
  font-size: 22px;
}

.card__desc {
  color: #000;
  font-size: 18px;
}

.picture-explore {
  padding: 72px 0px;
  background-color: $black-color;
}

.picture-explore__content {
  @extend %flex-row;
  justify-content: space-between;
  gap: 58px;
}

.picture-explore__title {
  padding-bottom: 103px;
  font-family: $font-forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;

  &::after {
    content: "";
    background-color: $red-color;
    display: block;
    width: 660px;
    height: 3px;
    position: relative;
    bottom: -23px;
  }
}

.picture-explore__descr {
  display: flex;
  flex-direction: column;
  gap: 25px;

  & p {
    font-size: 22px;
    line-height: 38.5px;
  }
}

.picture-explore__picture {
  padding-top: 15px;
}

.video {
  padding: 77px 0px 68px 0px;
}

.video__descr {
  padding-bottom: 75px;
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  
  color: $gold-color;
  font-family: $font-forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.video__subtitle {
  width: 720px;
  color: #000;
  font-size: 22px;
  line-height: 38.5px;
}

.main-video-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/poster0.jpg);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-play {
  cursor: pointer;
}

.video__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0px 25px 0px 30px;
  background-color: #000;
}

.progress {
  background: linear-gradient(to right, $red-color 0%, $red-color 50%, $gray-color 50%, $gray-color 100%);
  height: 8px;
  width: 930px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: $white-color;
}

.progress-valume {
  background: linear-gradient(to right, $red-color 0%, $red-color 50%, $gray-color 50%, $gray-color 100%);
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.progress-valume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: $white-color;
}

.video-valume,
.video-full,
.video-play {
  cursor: pointer;
}

.video-galery {
  padding: 40px 0px;
  @extend %flex-row;
  justify-content: space-between;
}

.video-galery__item {
  position: relative;
  width: 452px;
  height: 254px;
  display: flex;
  flex-direction: column;
}

.video-galery__poster {
  position: absolute;
  width: 452px;
  height: 254px;
  z-index: -1;
}

.video-galery__inf {
  padding: 14px 36px 48px 10px;
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

.galary-inf__left {
  @extend %flex-row;
  align-items: center;
  gap: 10px;
}

.video-galery__title {
  font-size: 18px;
  line-height: 38.5px;
}

.video-galery__play {
  align-self: center;
}

.video-galery__play {
  cursor: pointer;
}

.video__pagination {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.video-pagination__item {
  width: 12px;
  height: 12px;
  background-color: $gray-color;
  border-radius: 50%;
}

.video-pagination__item-active {
  background-color: #333333;
}

.video-pagination__right,
.video-pagination__left {
  color: $gray-color;
  cursor: pointer;
}

.art-gallery {
  padding-top: 75px;
  background-color: $black-color;
}

.art-gallery__title {
  padding-bottom: 75px;
  font-family: $font-forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.art-gallery__list {
  @extend %flex-row;
  gap: 36px;
  overflow: hidden;
  height: 1960px;
}

.art-gallery__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 456px;

  & img:last-child {
    filter: blur(1px);
    filter: opacity(50%); 
  }
}

.art-gallery__column1,
.art-gallery__column3 {
  padding-top: 50px;
}